


.container-fluid {
  height: 100vh; 
}

.custom-left {
  background-color: #f8d7da; 
  display: flex;
  justify-content: center;
}

.custom-center-top {
  background-color: #d4edda; 
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-center-middle {
  background-color: #cce5ff; 
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-footer {
  background-color: #0c4277; 
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-right {
  background-color: #fff3cd; 
  display: flex;
  justify-content: center;
}
