.custom-left {
    background-color: #f8d7da; 
    padding-left: 15px;
    padding-right: 15px;
    margin: 5px; 
  }
  
  .custom-right {
    background-color: #d4edda; 
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px; 
  }
  