.custom-left {
  background-color: #f8d7da; 
  padding-left: 15px;
  padding-right: 15px;
  margin: 5px;
}

.custom-right {
  padding-left: 10px;
  padding-right: 10px;
  margin: 5px;
}

.custom-top {
  background-color: #ffeeba; 
  margin: 5px; 
  
}

.custom-bottom {
  background-color: #cce5ff; 
  margin: 5px; 
  padding-left: 10px;
  padding-right: 10px;
}
.custom-footer {
  background-color: #343a40; 
  color: white;
  padding: 10px;
  margin-top: 10px;
}
  